$primary: #d3a739;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;
$form-floating-line-height: 1.25;
$form-floating-input-padding-t: 1.625rem;
$form-floating-input-padding-b: .625rem;
$pagination-bg : #0000;
$pagination-active-bg: $primary;
$pagination-active-color: #0000;
@import "node_modules/bootstrap/scss/bootstrap";
$form-floating-height: add(2.5rem, $input-height-border);
$form-floating-label-transform: scale(.8) translateY(-.7rem) translateX(.15rem);
@import "node_modules/bootstrap/scss/forms/floating-labels";

.link-nav.active {
  color: rgba(211, 174, 84, 0.8) !important;
}

.form-floating > label {
  top: -20%;
  color: #BBBBBB !important;
}

input {
  background-color: #464646 !important;
  border: none !important;
  color: #BBBBBB !important;
}

.form-group {
  width: 100%;
}

body {
  background-color: #1e2125;
  min-height: 100vh;
}

.navbar {
  background-color: #030303 !important;
}

table {
  color: #ffffff !important;
  border-spacing: 0 .8rem !important;
  border-collapse: separate;
}

td, th {
  border: none !important;
  min-width: 6rem;
}
th:not(:first-child,:last-child,:nth-child(6),:nth-child(5)){
  cursor: pointer;
}

tbody > tr {
  background-color: #1B1B1E !important;

}

.active {
  color: rgba(211, 174, 84, 0.8) !important;
}

ul {
  list-style: none !important;
}

table li {
  margin-left: -2rem;
}

.error {
  color: white;
}

th:not(:first-child,:last-child,:nth-child(6),:nth-child(5)).descendant:after {
  content: "";
  position: absolute;
  top: calc(50% + 6px);
  border-top: 6px solid $primary;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 10px;
}
th:not(:first-child,:last-child,:nth-child(6),:nth-child(5)):after {
  content: "";
  position: absolute;
  top: calc(50% + 6px);
  border-top: 6px solid #fff2da ;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 10px;
}
th:not(:first-child,:last-child,:nth-child(6),:nth-child(5)).ascendant:before {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  border-bottom: 6px solid $primary;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 10px;
}
th:not(:first-child,:last-child,:nth-child(6),:nth-child(5)):before {
  content: "";
  position: absolute;
  top: calc(50% - 6px);
  border-bottom: 6px solid #fff2da;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  right: 10px;
}
