/* Error: Undefined mixin.
 *    ,
 * 25 |     @include transition($form-floating-transition);
 *    |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   node_modules\bootstrap\scss\forms\_floating-labels.scss 25:5  @import
 *   style.scss 22:9                                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 25 \2502      @include transition($form-floating-transition);\d\a    \2502      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   node_modules\\bootstrap\\scss\\forms\\_floating-labels.scss 25:5  @import\a   style.scss 22:9                                               root stylesheet";
}
